
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* shared style */
.display-flex{
    display: flex;
}
.text-gray{
    color: #424242;
}
.text-light-gray{
    color: #727272;
}
.text-dark-gray{
    color: #111111;
}
.bg-light{
    background-color: rgba(212, 127, 29, 0.171);
}
.btn-primary{
    background-color: #ff900E;
    padding: 20px 25px;
    border-radius: 8px;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
}

main > section{
    margin-top: 130px;
}

/* header design */
 .navbar{
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #e5d5d5;
 }
 .brand{
    font-weight: bold;
    font-size: 2.4rem;
 }
 .nav-item{
    list-style-type: none;
    margin-right: 30px;
 }
 .nav-link{
    text-decoration: none;
    font-weight: 500;
 }
 .navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
 }

 /* banner */
 .banner{

 }
 .banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    padding: 20px;
 }
 .banner-title{
    font-size: 3.4rem;
 }
 .banner-desc{
   padding: 20px;
 }
 .banner-image{
    width: 100%;
 }


 /* main design */
   main{
    max-width: 1440px;
    margin: 0 auto;
   }

   /*team section style */
   .teams{
    align-items: center;
   }
   .team-image-container{
       display: grid;
       grid-template-columns: repeat(2 ,1fr);
       gap: 24px;
   }
   
   .our-features{
          margin-left: 30px;
          max-width: 530px;
          text-align: center;
   }
   .feature-title{
        font-size: 1.8rem;
        margin-bottom: 20px;
   }
   .feature-desc{
       color: #727272;
       margin-bottom: 20px;
   }
   .orange{
    color: orange;
    font-size: 2.5rem;
   }
   .bold{
    font-size: 2.4rem;
    font-weight: bold;
   }




/* features will enjoy */
   #border-id{
    border-left: 5px solid #ff900E ;
    padding-left: 20px;
    margin-bottom: 50px;
   }

  .features-card .features-title{
     font-size: 1.25rem;
     font-weight: 600;
     margin-top: 0px;
     margin-bottom: 0px;
  }
  .features-card{
     padding: 30px;
     box-shadow: 0px 4px 30px 0 rgba(0,0,0,0.05);
     margin-bottom: 10px;
     border-radius: 8px;
  }
  .features{
    gap: 100px;
  }

  #experiance-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: -100px;
    margin-top: -100px;
  }
  #expleriance-years{
    font-size: 4rem;
    font-weight: bold;
  }
  .features-architects img{
    width: 100%;
  }
  




  /* some fact releted style */

  .section-title{
    font-weight: bold;
    color: #111111;
    font-size: 2.8rem;
    margin-bottom: 20px;
  }
  .fact-desc{
    max-width: 540px;
    margin-bottom: 30px;
  }



  .fact-container{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin-bottom: 30px;
  }
  
  .fact-card{
      border:2px solid #ff900E;
      width: 240px;
      height: 240px;
      border-radius: 8px;
      justify-content: center;
      align-items: center;
      text-align: center;
  }
  .fact-icon{

  }
  .name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
  }
  .number{
     font-size: 2.8rem;
     font-weight: 600;
     margin-top: 5px;
     margin-bottom: 10px;
  }


  /* our sponsors section */

.our-sponsors{

}
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}
.sponsor-companies img{
    filter: grayscale(100%);
}


footer{
    background-color: #d1c6c6;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}





 /* Responsive This part header section */
  @media screen and (max-width: 576px) {
     
    .navbar, .nav-links, .teams, .features{
        flex-direction: column;
        gap: 20px;
    }

    .banner-title{
        font-size: 2.8rem;
    }
    .banner-desc{
        color: #727272;
    }

    .team-image-container, .fact-container{
        grid-template-columns: repeat(1 ,1fr);
    }
   
    
   .section-title, .fact-desc{
    text-align: center;
   }
    .fact-container{
    justify-items: center;
    gap: 30px;
   }

   .sponsor-companies{
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
    gap: 50px;
   }

   #expleriance-badge{
    margin: 20px;
   }
  }


  @media screen and (min-width:576px) and (max-width:992px) {
    .teams, .fetatures{
        flex-direction: column;
    }
     #expleriance-badge{
    margin: 20px;
   }
   .our-features{
    margin-top: 30px;
   }
   .section-title{
    text-align: center;
   }
   .fact-desc{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
   }

   .fact-container{
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 30px;
    margin-bottom: 30px;
   }

   .sponsor-companies{

    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}
  
  }